nav{
    display:flex;
    justify-content:flex-end;
}

p{
    color:black;
    margin-right:100px;
    padding:8px;
    font-weight:600;
}

.navbar{
    text-decoration:none;
}

.navbar:hover{
    cursor:pointer;
    opacity:.5;
}